.donation {
    background: #F6F6F6;
}
.donation__container {
    display: flex;
    justify-content: center;
    padding: 80px 0 100px 0;
}
.donation__img-wrapper {
    width: 505px;
    height: 261px;

    margin: 11px 30px 0 0;
}
.donation__text {
}
.donation__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    /* or 45px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    color: #545454;
}
.donation__bank-card {
    margin-top: 20px;
}
.bank-card__title {
    margin-top: 20px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    /* identical to box height, or 17px */

    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}
.bank-card__wrapper-number {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    background: #F1CDB3;
    border-radius: 9px;

    margin-top: 20px;
    padding: 10px 15px;
    text-decoration: none;
}
.bank-card__wrapper-number:hover {
    background: #FDDCC4;
}
.bank-card__icon {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 15px;
}
.bank-card__number {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */

    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

    /* color-dark-l */

    color: #545454;
}
.donation__description {
    max-width: 380px;
    margin-top: 20px;

    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */

    display: flex;
    align-items: center;

    /* color-dark-m */

    color: #B2B2B2;
}