.footer {
  padding: 40px 0 0 0;
  background: url(../../../assets/images/welcome__bg.jpg),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  background-size: cover;
  background-position: center center;
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__rows-text {
  flex: 0 1 61.6%;
  display: flex;
  justify-content: space-between;
}

.footer__for-quections,
.footer__address {
  display: flex;
  flex-direction: column;

  margin-top: 16px;
}

.footer__for-quections {
  min-width: 278px;
}
.footer__address {
  min-width: 302px;
}

.for-quections__title,
.address__title {
  white-space: nowrap;

  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  /* or 45px */

  letter-spacing: 0.06em;

  /* color-light-xl */

  color: var(--color-secondary);
}
.for-quections__email-wrapper,
.for-quections__phone-wrapper,
.address__first-address-wrapper,
.address__second-address-wrapper {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.for-quections__email-wrapper {
  margin-top: 40px;
}
.for-quections__phone-wrapper {
  margin-top: 40px;
}
.address__first-address-wrapper {
  margin-top: 34px;
}
.address__second-address-wrapper {
  margin-top: 32px;
}

.for-quections__email-icon,
.for-quections__phone-icon,
.address__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.for-quections__email,
.for-quections__phone,
.address__first-address,
.address__second-address {
  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  /* identical to box height, or 23px */

  letter-spacing: 0.06em;

  /* color-primary */

  color: var(--color-primary);
}

.footer__address {
  max-width: 302px;
}
.address__title {
  max-width: 270px;
}

.footer__img-wrapper {
  flex: 0 1 38.4%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 310px;
}
.footer__img {
  max-width: 300px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .footer {
    padding: 14px 0 0;
  }

  .footer__container {
    flex-direction: column;
    align-items: center;
  }
  .footer__img-wrapper {
    display: flex;
    justify-content: center;
    margin: 65px 0 0 0;
  }
  .footer__rows-text {
    column-gap: 60px;
  }
}
