.not-only {
  background: url(../../../assets/images/welcome__bg.jpg),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  background-size: cover;
  background-position: left top;
}

.not-only__container {
  display: flex;
  min-height: 728px;
  column-gap: 42px;
}
.not-only__text {
  flex: 0 1 40%;
  margin-top: 223px;
}
.not-only__title {
  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;

  display: flex;
  align-items: center;

  color: var(--color-secondary);
}
.not-only__description {
  margin-top: 42px;
  max-width: 460px;

  font-family: var(--second-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  align-items: center;

  color: var(--color-nav-item);
}
.not-only__wrapper-link {
  margin-top: 42px;

  width: 207px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  border-radius: 100px;
}
.not-only__wrapper-link:hover {
  background: #fddcc4;
}
.not-only__link {
  font-family: var(--first-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;

  letter-spacing: 0.06em;

  text-decoration: none;
  color: #292929;
}
.not-only__wrapper-img {
  flex: 0 1 60%;
  margin-top: 60px;
}

.not-only__img {
  max-width: 698px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .not-only {
    padding-top: 60px;
  }
  .not-only__container {
    flex-direction: column;
  }
  .not-only__text {
    align-self: center;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  .not-only__wrapper-link {
    margin: 42px auto 0;
  }
  .not-only__wrapper-img {
    max-height: 593px;
    margin-top: 100px;
  }
  .not-only__img {
    float: right;
    max-width: 569px;
  }
}
